:root{
    
   --primary-Soft-orange: hsl(35, 77%, 62%) ;
   --primary_2-Soft-red: hsl(5, 85%, 63%);

   --Off-white: hsl(36, 100%, 99%);
   --Grayish-blue: hsl(233, 8%, 79%);
   --Dark-grayish-blue: hsl(236, 13%, 42%);
   --Very-dark-blue: hsl(240, 100%, 5%);

}
@font-face {
    font-family: NewFont;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format(woff);
}
@font-face {
    font-family: NewFont-Bold;
    src: url(./assets/fonts/static/Inter-Bold.ttf) format(woff);
}
@font-face {
    font-family: NewFont-ExtraBold;
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf) format(woff);
}
@font-face {
    font-family: NewFont-RegularBold;
    src: url(./assets/fonts/static/Inter-Regular.ttf) format(woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: "Newfont";
    width: 1440px;
    height:100vh;
    background-color: var(--Off-white);
    display: grid;
    grid-column:100% ;
    grid-template-rows: 15% 70% auto ;
    grid-template-areas: 
    "header "
    "main "
    "footer "
    ;

}

header{
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav{
    display: flex;
    width: 600px;
}
ul{
    width: 550px;
    display: flex;
    justify-content: space-around;
    gap: 80px;

}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: 350ms;
}
a:hover{
    color: var(--primary-Soft-orange);
}
.logo{
    height: 75px;
    width: 75px;
    background-image: url(./assets/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}
main{
    grid-area:main;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 50% 30% 20%;
    grid-template-areas:
    "section section aside "
    "section section aside"
    "section2 section2 section2"
    ;
    gap: 20px;
  
}
.section1{
    grid-area: section;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% auto;
    grid-template-areas: 
    "imagen imagen"
    "contenido1 contenido2"
    ;
  height: 90%;
}
.imagen_1{
    grid-area: imagen;
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    background-repeat: no-repeat;
    background-position:center ;

}
.article_1{
    grid-area: contenido1;
    font-size: 90px;
    font-family: "NewFont-ExtraBold";
    font-weight: bolder;
    text-align: start;
    color: var(--Very-dark-blue);
    margin-top: 20px;
}
.article_2{
    grid-area: contenido2;
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: space-evenly;  
    margin-top: 20px;
    
}
.article_2 p{
    font-size: 25px;
    color: var(--Dark-grayish-blue);
    word-spacing: 3px;
}
.article_2 a{
    background-color: var(--primary_2-Soft-red);
    font-family: "NewFont-ExtraBold";
    display: block;
    width: 200px;
    padding: 17px;
    font-size: 17px;
    font-weight: bolder;
    color: var(--Very-dark-blue);
    text-align: center;
    align-content: center;
    margin-top: 20px;
    letter-spacing: 3px;
    transition: 350ms;
}
.article_2 a:hover{
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}
aside{
 grid-area: aside;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 background-color: var(--Very-dark-blue);
 color: var(--Off-white);
 padding: 30px;
 height: 90%;
}
aside h1{
    font-size: 50px;
    color: var(--primary-Soft-orange);
    font-family: "NewFont-ExtraBold";
}
aside h2{
    color: var(--Off-white);
    font-family: "NewFont-ExtraBold";
    transition: 350ms;
}
aside h2:hover{
    cursor: pointer;
    color: var(--primary-Soft-orange);
}
hr{
    height: 0.5px;
    background-color: var(--Dark-grayish-blue);
    border: none;
}
aside p{
 color: var(--Grayish-blue);
 font-size: 17px;
 margin-top: 10px;
}
.section2{
grid-area: section2;
display: flex;
justify-content: space-between;
align-items: center;
}
.section2 article {
 display: flex;
 justify-content: center;
 align-items: center;
}
.section2 article h1{
    color: var(--primary_2-Soft-red);
    font-size: 40px;
    font-family: "NewFont-ExtraBold";
}
img{
 height: 160px;
 width: 130px;
 margin-right: 20px;
}
.text{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 350ms;
}
.text h2:hover{
    color: var(--primary_2-Soft-red);
    cursor: pointer;
        
}

footer{
    grid-area: footer;
    text-align: center;
    align-content: center;
}