:root{
    
   --primary-Soft-orange: hsl(35, 77%, 62%) ;
   --primary_2-Soft-red: hsl(5, 85%, 63%);

   --Off-white: hsl(36, 100%, 99%);
   --Grayish-blue: hsl(233, 8%, 79%);
   --Dark-grayish-blue: hsl(236, 13%, 42%);
   --Very-dark-blue: hsl(240, 100%, 5%);

}
@font-face {
    font-family: NewFont;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format(woff);
}
@font-face {
    font-family: NewFont-Bold;
    src: url(./assets/fonts/static/Inter-Bold.ttf) format(woff);
}
@font-face {
    font-family: NewFont-ExtraBold;
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf) format(woff);
}
@font-face {
    font-family: NewFont-RegularBold;
    src: url(./assets/fonts/static/Inter-Regular.ttf) format(woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
